body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main_content {
  margin: 4rem 2.5rem;
}

.main_navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: #01d1d1;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main_navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main_navigation__items {
  margin-left: 1.5rem;
}

.main_navigation__items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main_navigation__items li {
  margin: 0 1rem;
}

.main_navigation__items a {
  text-decoration: none;
  color: #000;
}

.main_navigation__items a:hover,
.main_navigation__items a:active,
.main_navigation__items a.active {
  color: #fdefa0;
}

.auth-form {
  width: 35rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button {
  background: #01d1d1;
  font: inherit;
  border: 1px solid #01d1d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background: #01a7a7;
  border-color: #01a7a7;
}
